#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(242,236,236,0.55);
  color: rgb(221,88,88);
}

.img-fluid, .img-thumbnail {
  width: 349px;
  height: 262px;
}

#portfolio * {
  z-index: 2;
}

